.branch{
    width:250px;
}



.stock{
    background: #EBEFF2;
    border-radius:10px;
    position: relative;

}

.branchSubcontainer{
    background: none;
    margin-top:3px;
    padding-left:5px;
    transition: ease-in-out 0.25s;
}

.branchTransform{
    background: #EBEFF2;
    padding-left:25px;
    border: none;
}

.branch-title{
    font-size:16px;
    font-weight:600;
    font-family: "Poppins",sans-serif;
    color: #2A3440;
}

.branch-list{
    min-height:200px;
    max-height:100px;
    overflow-y: scroll;
    z-index: 2;
    position: absolute;
    border: none;
}

.branch-list::-webkit-scrollbar{
    display: none;
}

.branch-item{
    height:50px;
    padding-left:25px;
    border: none;
}

