.add-new-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width:600px;
    height:690px;
    border-radius:30px;
    background: white;
    overflow-y: scroll;
    padding-top:20px;
}

.add-new-product::-webkit-scrollbar{
    display:none;
}

.stock-header-section{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-left:30px;
    position: relative;
}

.stock-header-section-title{
    font-size:24px;
    font-family: 'Poppins',sans-serif;
    font-weight:600;
    color:#000000;
}

.stock-icon-close-button{
    position: absolute;
    right:25px;
}

.stock-content-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stock-section-title{
    font-size:20px;
    font-family: 'Poppins',sans-serif;
    font-weight:600;
    color:#2A3440;
}

.newStock{
    font-size:16px;
    font-family: 'Poppins',sans-serif;
    font-weight:400;
    color:#5B7E9A;
}

.stock-title-input-field{
    border: none;
    outline: none;
    width:536px;
    height:64px;
    border-radius:10px;
    font-size:16px;
    background: #EBEFF2;
    font-family: 'Poppins',sans-serif;
    font-weight:400;
    color:#2A3440;
    padding-left: 15px;
}

.stock-measurement-container{
    display: flex;
    flex-direction: column;
    width: 171px;
}

.stock-measurement-section{
    display: flex;
    width:536px ;
    justify-content:space-between;
    align-items: center;
    margin-top:10px;
    margin-bottom: 10px;
}


.stock-measurement-input-field{
    border: none;
    outline: none;
    width:171px;
    height:64px;
    border-radius:10px;
    font-size:16px;
    background: #EBEFF2;
    font-family: 'Poppins',sans-serif;
    font-weight:400;
    color:#2A3440;
    padding-left: 15px; 
}

.stock-category-header p{
    font-size:18px;
    background: #EBEFF2;
    font-family: 'Poppins',sans-serif;
    font-weight:600;
    color:#171717;
    padding-left:5px; 
}

.stock-minLimitDate-container{
    width: 536px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.stock-input-container{
    display: flex;
    flex-direction: column;
}

.minLimit-input-field,
.stock-date-input-field{
    width: 252px;
    height: 64px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 24px 16px 24px 16px;
    background: #EBEFF2;
    font-family: "Poppins",sans-serif;
    font-size:16px;
    font-weight:400;
    color:#2A3440;
}

.stock-btns-container{
    display: flex;
    align-items: center;
    width:536px;
    height:200px;
}

.stock-sub-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

