.otp-input{  
    width: 66px;
    height: 66px;
    border-radius: 10px;
    padding: 20px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: #2A3440;
    background: #EBEFF2;
    outline: none;
    border: none;
   }
   
.otp-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 100px;
}