.menu-table-container{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 100vh;
}

.loader-container{
   width:100%;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.menu-table{
   width: 1171px;
   border-radius:20px;
   background: white;
}

.menu-table{
   border-collapse: collapse;
}

thead tr th{
   font-size: 16px;
   font-weight: 600;
   font-family: "Poppins", sans-serif;
   color: #2A3440;
   border-bottom: 1px solid #35536B;
   text-align: left;
   height:60px;
}

tbody tr td{
   font-size: 16px;
   font-weight: 500;
   font-family: "Poppins", sans-serif;
   color: #2A3440;
   height: 60px;
   border-bottom: 1px solid #EBEFF2;
}

.menu-table-id{
   width:50px;
   text-align: center;
   font-size: 16px;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   color: #5B7E9A;
}

.menu-table-category{
   width:200px;
   position: relative;
}

.menu-table-ingredients{
   width:500px;
}

.menu-table-title{
   width:260px;
}

.menu-table-price{
   position: relative;
}
.menu-more-icon{
   position: absolute;
   top:30px;
   right: 30px;
   z-index: 2;
} 

.pagination-container{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

.menu-table-subContainer{
   height: 480px;
   width: 1171px;
   background: white;
   border-radius: 10px;
}