.branch-header{
    border-bottom: 1px solid #EAEAEA; 
    padding-left:15px;
    cursor: pointer;
}



.stock_qty{
    width: 150px;
}

.stock_title{
    min-width:100px;
    max-width: 180px;
}

.stock_limit{
    width: 150px;
}

.raw-products{
    border-bottom: 1px solid #FF4B4B;
    color:#FF4B4B;
}