.add-menu-new-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width:600px;
    height:90vh;
    border-radius: 30px;
    padding-top:20px;
    padding-bottom:50px;
    background: white;
    z-index: 2;
    overflow-y: scroll;
}



.add-menu-new-item-container::-webkit-scrollbar{
    width: 0; 
}
.menu-add-new-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    width: 100%;
    padding-left:45px;
}

.menu-add-new-item-title{
    font-size:24px;
    font-family:"Poppins",sans-serif;
    font-weight:700;
    color:#2A3440;
}
.menu-add-new-item-image-title{
    font-size:20px;
    font-family:"Poppins",sans-serif;
    font-weight:600;
    color:#2A3440; 
}

#menu-add-new-item-image{
    display:none;
}

.menu-add-new-item-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:536px;
    height:250px;
    border: 15px solid #EBEFF2;
    position: relative;
}

.menu-add-new-item-image-dashed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:200px;
    border: 2px dashed #5B7E9A;
    padding: 10px;
}

.image-upload-active{
    background:#25252533;
}

.menu-add-new-item-image-subContainer{
    width:90px;
    height:90px;
    border-radius:10px;
    margin: 0 auto;
    overflow: hidden;
}

.menu-add-new-item-image-subContainer img{
    width:100%;
    height:100%;
    object-fit:cover;
    cursor: pointer;
}
.menu-add-new-item-image-text{
    width:275px;
    font-size:14px;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    color:#2A3440; 
    text-align: center;
}

.menu-add-new-item-image-text span{
    font-size:14px;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    color:#F47356; 
}
.add-menu-new-item__name_price-container{
    display: flex;
    width: 536px;
    height:460px;
    flex-direction: column;
}
.add-menu-new-item__name_price-text{
    font-size:20px;
    font-family:"Poppins",sans-serif;
    font-weight:600;
    color:#2A3440; 
}

.item-name__label{
    font-size:16px;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    color:#5B7E9A;  
}

#item-name{
  width: 520px;
  height: 66px;
  border-radius:10px;
  border:none;
  outline:none;
  background:#EBEFF2;
  padding:24px 16px 24px 16px;
  font-size:18px;
  font-family:"Poppins",sans-serif;
  font-weight:400;
  color:#2A3440; 
}



.add-menu-new-item-content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;  
}

.add-menu-new-item-category-container{
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    height:100px;
    position:relative;
}


.add-menu-new-item-dropdown-subContainer{
    display: flex;
    align-items: center;
    padding-left:20px;
    width:252px;
    height:66px;
    border-radius:10px;
    background:#EBEFF2;
    position: relative;
}

.add-menu-new-item-dropdown-icons{
    position: absolute;
    right: 15px;
}


.transform{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border: 2px solid #CDD3DD;
    border-bottom: none;
}

.add-menu-new-item-dropdown-categries{
    display:flex;
    flex-direction:column;
    width:252px;
    height:330px;
    border: 1px solid #CDD3DD;
    background:#EBEFF2;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    overflow: hidden;
    position:absolute;
    transition: ease-in-out 0.25s;
    display: none;
}

.add-menu-new-item-dropdown-toggle{
    display:block;
}

.add-menu-new-item-dropdown-title{
  font-size:16px;
  font-family:"Poppins",sans-serif;
  font-weight:400;
  color:#2A3440; 
}

.add-menu-new-item-dropdown-item{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:100%;
    height:66px;
    border: 1px solid #CDD3DD;
    padding-left:20px;
    font-size:18px;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    color:#2A3440; 
    cursor: pointer;
}

.add-menu-new-item-dropdown-item:hover{
    background:#e1e5e8b7;
}

.add-menu-new-item-price-container{
    display: flex;
    flex-direction: column;
}

.add-menu-new-item-price-item{
    font-size:16px;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    color:#5B7E9A;
}

#add-menu-new-item-price-item{
    border:none;
    outline:none;
    width:252px;
    height:64px;
    border-radius:10px;
    padding:24px 16px 24px 16px;
    background:#EBEFF2;
    font-size:16px;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    color:#2A3440;
}

.add-menu-new-ingredients-container{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width:100%;
}

.menu-new-ingredients-container{
    display: flex;
    flex-direction: column;
}

.add-menu-new-ingredients-subContainer{
    display: flex;
    align-items:center;
    gap: 10px;
    width:100%;
    height: 100px;
}

.add-menu-new-title-container{
    display:flex;
    flex-direction: column;
}

#menu-ingredient-name{
    width: 252px;
    height:66px;
    border-radius: 10px;
    padding: 24px 16px 24px 16px;
    background: #EBEFF2;
    outline: none;
    border: none;
    font-size:18px;
    font-family: "Poppins",sans-serif;
    font-weight:400;
    color:#2A3440;
}


#menu-ingredient-amount{
    width: 171px;
    height:66px;
    border-radius: 10px;
    padding: 24px 16px 24px 16px;
    background: #EBEFF2;
    outline: none;
    border: none;
    font-size:18px;
    font-family: "Poppins",sans-serif;
    font-weight:400;
    color:#2A3440;
}

.menu-new-ingredients-subContainer{
    display:flex;
    align-items: center;
    width:75px;
    height:66px;
    gap: 10px;
    border-radius: 10px;
    background: #EBEFF2;
    font-size:18px;
    font-family: "Poppins",sans-serif;
    font-weight:400;
    color:#2A3440;
    margin-top: 22px;
    position: relative;
}

.menu-new-ingredients-list{
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
    border: 1px solid #ddd0cd;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    display: flex;
    background:#EBEFF2 ;
    overflow: hidden;
    position: absolute;
    bottom:-150px;
    transition: ease-in-out 0.25s;
}

.menu-new-ingredients-list>:first-child{
    border: 0px;
}

.toggleMeasurement{
    display:none;
}

.menu-new-ingredients-subContainer-transform{
    border: 1px solid #CDD3DD;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.menu-new-ingredients-dropdown-icons{
    position: absolute;
    right: 3px;
}

.measurement-text{
    padding-left: 15px;
}

.menu-new-ingredients-item{
    height: 100%;
    list-style: none;
    padding-left:25px;
    border-top: 1px solid #CDD3DD;
    font-size:18px;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    color:#2A3440; 
    cursor: pointer;
}

.menu-new-ingredients-item:hover{
background:#e1e5e8b7;
}

#measurement{
    width: 100%;
    border: none;
    outline: none;
    appearance: none;
    background:#EBEFF2;
    font-size:18px;
    font-family: "Poppins",sans-serif;
    font-weight:400;
    color:#2A3440;
}





.add-more-menu-items-btn{
    width:252px;
    height:54px;
    border-radius:10px;
    background:#2A3440;
    font-size:18px;
    font-family: "Poppins",sans-serif;
    font-weight:600;
    color:white;
    cursor: pointer;
}




